h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0px;
  overflow: visible;
  padding: 0px; }

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  overflow: visible;
  padding: 0px; }

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  overflow: visible;
  padding: 0px; }

#instagram {
  display: none;
  position: absolute;
  background: #fff url(../img/background/instagram-2.jpg) no-repeat;
  background-size: cover;
  width: 1080px;
  height: 1080px;
  /*box-shadow: 0 0 32px 0 rgba(0,0,0,0.20);*/ }

#facebook {
  display: none;
  position: absolute;
  background: #fff;
  width: 1692px;
  height: 954px;
  /*box-shadow: 0 0 32px 0 rgba(0,0,0,0.20);*/ }

#dribbble {
  display: none;
  position: absolute;
  background: #fff;
  width: 1094px;
  height: 958px;
  /*box-shadow: 0 0 32px 0 rgba(0,0,0,0.20);*/ }

#iphoneXS {
  display: none;
  position: absolute;
  background: url(../img/misc/iphone-xs.svg) no-repeat;
  background-size: cover;
  width: 408.5px;
  height: 833px;
  top: 17px; }

#iphoneX {
  display: none;
  position: absolute;
  background: url(../img/misc/iphone-xs.svg) no-repeat;
  background-size: cover;
  width: 408.5px;
  height: 750px; }

#flookyApp {
  position: absolute;
  background: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

#flookyApp {
  position: absolute;
  background: #2E3545;
  width: 375px;
  height: 812px;
  overflow: hidden;
  top: 19px;
  border-radius: 42px;
  box-shadow: 0 8px 32px -4px rgba(0, 0, 0, 0.4); }

#randomScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 692px; }
  #randomScreen #gradientBg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #randomScreen #gradientBg #seriesBackground {
      position: absolute;
      background: #5483E6 url("../img/shows/russian-doll.jpg") no-repeat top center;
      background-size: cover;
      width: 667px;
      height: 1000px;
      left: 50%;
      margin-left: -333.5px;
      opacity: .5; }
    #randomScreen #gradientBg .multiply {
      background-blend-mode: multiply; }
    #randomScreen #gradientBg #background1 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(270deg, #796EFD 0%, #FF7EAF 100%);
      background-blend-mode: lighten;
      opacity: .8; }
    #randomScreen #gradientBg #flookySymbols {
      display: none;
      position: absolute;
      background: url(../img/misc/symbols.png) no-repeat;
      background-size: cover;
      width: 333px;
      height: 532px;
      top: 86px;
      left: 15px; }
    #randomScreen #gradientBg #sponsorBackground {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%; }
    #randomScreen #gradientBg .snow {
      display: none;
      position: absolute; }
  #randomScreen #seriesCategory {
    position: relative;
    color: #fff;
    padding-top: 66px;
    padding-bottom: 40px;
    text-align: center; }
  #randomScreen .randomWheel {
    position: absolute;
    width: 4000px;
    height: 4000px;
    left: 50%;
    margin-left: -2000px;
    top: 146px; }
    #randomScreen .randomWheel .series-card {
      position: absolute;
      background: #fff;
      width: 231px;
      height: 346.5px;
      border-radius: 3px;
      box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.4); }
  #randomScreen #sponsorSupport {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; }
  #randomScreen .seriesInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 75px; }
    #randomScreen .seriesInfo .seriesTT {
      position: relative;
      text-align: center;
      color: #fff; }
    #randomScreen .seriesInfo .starRating {
      display: flex;
      flex-direction: row;
      position: relative;
      padding-top: 8px; }
      #randomScreen .seriesInfo .starRating .star {
        position: relative;
        width: 13px;
        height: 12px;
        margin: 0 4px; }
    #randomScreen .seriesInfo .like-feature {
      display: flex;
      flex-direction: row;
      position: relative;
      padding-top: 20px; }
      #randomScreen .seriesInfo .like-feature .dislike {
        position: relative;
        width: 25px;
        height: 21px;
        margin: 0 12px; }
      #randomScreen .seriesInfo .like-feature .like {
        position: relative;
        width: 25px;
        height: 22px;
        margin: 0 12px; }
  #randomScreen .episode-area {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
    #randomScreen .episode-area .series-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      height: 152px;
      padding: 0 24px 16px; }
      #randomScreen .episode-area .series-info .seriesTT {
        position: relative;
        text-align: left;
        color: #fff; }
      #randomScreen .episode-area .series-info .starRating {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 8px; }
        #randomScreen .episode-area .series-info .starRating .star {
          position: relative;
          width: 13px;
          height: 12px;
          margin: 0 4px; }
      #randomScreen .episode-area .series-info .heart-top {
        position: relative;
        width: 21px;
        height: 18px; }
    #randomScreen .episode-area .seriesArea {
      position: relative;
      width: 100%;
      height: 100%; }
      #randomScreen .episode-area .seriesArea .series-area-bg {
        position: absolute;
        background: #FCF3FA;
        width: 100%;
        height: 100%; }
      #randomScreen .episode-area .seriesArea .episode-cards {
        position: relative;
        padding: 24px 0 0 24px; }
        #randomScreen .episode-area .seriesArea .episode-cards ul {
          width: 2401px;
          height: 186px;
          margin: 0;
          padding: 0px; }
        #randomScreen .episode-area .seriesArea .episode-cards ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #C9D3DC;
          width: 327px;
          height: 186px;
          list-style: none;
          float: left;
          margin-right: 16px;
          border-radius: 3px;
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); }
          #randomScreen .episode-area .seriesArea .episode-cards ul li .play-button {
            position: relative;
            background: url(../img/misc/play-button.svg) no-repeat;
            width: 41px;
            height: 60px; }
      #randomScreen .episode-area .seriesArea .descriptions-trivia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 24px 24px 0; }
        #randomScreen .episode-area .seriesArea .descriptions-trivia .decription-copy {
          font-size: 14px;
          color: #223041; }
      #randomScreen .episode-area .seriesArea .description-bar-area {
        position: relative;
        width: 100%;
        padding: 8px 24px 0; }
        #randomScreen .episode-area .seriesArea .description-bar-area .bar-bg {
          background: rgba(219, 122, 196, 0.15);
          width: 100%;
          height: 4px; }
          #randomScreen .episode-area .seriesArea .description-bar-area .bar-bg .bar {
            width: 138px;
            height: 100%;
            background: linear-gradient(315deg, #796EFD 0%, #FF7EAF 100%); }
      #randomScreen .episode-area .seriesArea .imdb-se-ep-info {
        position: relative;
        padding: 24px 24px 0; }
        #randomScreen .episode-area .seriesArea .imdb-se-ep-info #episodeTitle, #randomScreen .episode-area .seriesArea .imdb-se-ep-info #seriesOverview {
          position: relative; }
        #randomScreen .episode-area .seriesArea .imdb-se-ep-info .imdb-info {
          position: relative;
          color: #687588;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          line-height: 17px;
          padding-top: 4px; }
        #randomScreen .episode-area .seriesArea .imdb-se-ep-info .imdb-description {
          position: relative;
          color: #505E72;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          line-height: 21px;
          padding-top: 24px; }
      #randomScreen .episode-area .seriesArea .imdb-ep {
        display: none; }
  #randomScreen #quickLook {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 692px; }
    #randomScreen #quickLook #quickLookBackground {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%; }
    #randomScreen #quickLook .drag-icon {
      display: none;
      position: absolute;
      background: url(../img/misc/drag.svg) no-repeat;
      width: 48px;
      height: 8px;
      top: 16px; }
    #randomScreen #quickLook .category-type h3 {
      position: relative;
      color: #223041; }
    #randomScreen #quickLook #catGenre {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px; }
    #randomScreen #quickLook .cat-genre ul {
      width: 2000px;
      height: 72px;
      margin: 0;
      padding: 0px; }
      #randomScreen #quickLook .cat-genre ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C9D3DC;
        width: 98px;
        height: 72px;
        list-style: none;
        float: left;
        margin-right: 16.5px;
        border-radius: 3px;
        box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0.15); }
    #randomScreen #quickLook .cat-favorites ul {
      width: 2000px;
      height: 147px;
      margin: 0;
      padding: 0px; }
      #randomScreen #quickLook .cat-favorites ul li {
        width: 98px;
        height: 147px;
        list-style: none;
        float: left;
        margin-right: 16.5px;
        border-radius: 3px;
        box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0.15); }
    #randomScreen #quickLook .cat-favorites .card-series-copy {
      height: 46px;
      color: #223041;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
      padding-top: 6px;
      box-shadow: none; }
    #randomScreen #quickLook .cat-recommended ul {
      width: 2000px;
      height: 147px;
      margin: 0;
      padding: 0px; }
      #randomScreen #quickLook .cat-recommended ul li {
        width: 98px;
        height: 147px;
        list-style: none;
        float: left;
        margin-right: 16.5px;
        border-radius: 3px;
        box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0.15); }
    #randomScreen #quickLook .cat-recommended .card-series-copy {
      height: 46px;
      color: #223041;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
      padding-top: 6px;
      box-shadow: none; }
  #randomScreen #wheelArm {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 670px;
    z-index: 10001; }
    #randomScreen #wheelArm #armIcon {
      position: absolute;
      width: 20px;
      height: 28px; }
    #randomScreen #wheelArm #wheelArmBg {
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      background: #FF7EAF;
      box-shadow: 4px 4px 8px 0 #E1E8EE; }

#topNavigation {
  position: absolute;
  width: 100%;
  height: 66px;
  top: 0px; }
  #topNavigation #seriesSearch {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 24px;
    left: 24px; }
  #topNavigation #backCTA {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 26px;
    left: 24px; }
  #topNavigation #hambugerMenu {
    position: absolute;
    width: 24px;
    height: 18px;
    top: 24px;
    right: 24px; }

#widthandheight {
  position: absolute;
  left: 24px;
  top: 100px; }
