#flookyApp { position: absolute; background: #fff; width: 100vw; height: 100vh; overflow: hidden; }
#flookyApp { position: absolute; background: #2E3545; width: 375px; height: 812px; overflow: hidden; top: 19px; border-radius: 42px; box-shadow: 0 8px 32px -4px rgba(0,0,0,0.40); }
