#topNavigation { position: absolute; width: 100%; height: 66px; top:0px;
  #seriesSearch { position: absolute; width: 17px; height: 18px; top: 24px; left: 24px; }
  #backCTA { display: none; position: absolute; width: 14px; height: 14px; top: 26px; left: 24px; }
  #hambugerMenu { position: absolute; width: 24px; height: 18px; top: 24px; right: 24px; }
}
