#wheelArm { position: absolute; width: 48px; height: 48px; top: 670px; z-index: 10001;
  #armIcon { position: absolute; width: 20px; height: 28px; }
  #wheelArmBg { position: absolute; width: 48px; height: 48px; border-radius: 12px; background: #FF7EAF; box-shadow: 4px 4px 8px 0 #E1E8EE; }
}
